.para-btn {
    padding: 8px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    transition: all 200ms linear;
}

.para-btn:hover {
    background-color: black;
    color: white;
}

.input-box {
    max-width: 300px;
    font-size: 16px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
}
